@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color:  #000000;
 
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo span{
    color: #0ee2fe;
    text-shadow: 0 0 5px #0ee2fe;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #0ee2fe;
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a:hover{
    color: #0ee2fe;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: #0ee2fe;
}
section{
    width: 100%;
    height: 90vh;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #0ee2fe;
}
.main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span{
    color: #0ee2fe;
    text-shadow: 0  0 5px #0ee2fe;
}
.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}
.content .typewriter-text{
    color: #0ee2fe;
    text-shadow: 0 0 5px #0ee2fe;
}
.content p{
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 5px 0;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #0ee2fe;
    border-radius: 50%;
    color: #0ee2fe;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #0ee2fe;
    filter: drop-shadow(0 0 5px #0ee2fe);
}
.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #0ee2fe;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: #0ee2fe;
    border: 2px solid #0ee2fe;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #0ee2fe;
}
@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }
    .hamburg,
    .cancel{
        display: block;
    }
    .main-container .content{
        width: 80%;
    }
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}
@media (max-width:440px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .main-container button{
        margin-top: 15px;
    }
}

/* Services Page */
.services .service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.services h2{
    text-align: center;
    color: #0ee2fe;
    text-shadow: 0  0 5px #0ee2fe;

}
.services .service-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.services .service-box:hover {
    transform: scale(1.05);
}

.services .service-box i {
    font-size: 40px;
    color: #0ee2fe;
    margin-bottom: 5px;
}

.services .service-box h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #0ee2fe;
}

/*Skills Page*/
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}
.skills h2{
    text-align: center;
    color: #0ee2fe;
    text-shadow: 0  0 5px #0ee2fe;
}
.skill-card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.skill-card h2 {
    margin: 5px 0;
    font-size: 1.5em;
    color: #0ee2fe;
}
.skill-card h3 {
    font-size: 24px;
    color: #0ee2fe;
    margin-bottom: 5px;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card ul li {
    margin: 5px 0;
}
/* Experience Page */
.experience h2{
    text-align: center;
    color: #0ee2fe;
    text-shadow: 0  0 5px #0ee2fe;

}
.experience .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience .experience-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
}
.experience .experience-box:hover {
    transform: scale(1.05);
}
.experience .experience-box h3 {
    font-size: 24px;
    color: #0ee2fe;
    margin-bottom: 5px;
}

.experience .experience-box p {
    margin: 5px 0;
    color: #555;
}

.experience .experience-box strong {
    color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        margin-left: 0;
        margin-top: 20px;
    }

    .services .service-container {
        flex-direction: column;
    }

    .experience .experience-box {
        width: 100%;
    }
}
/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    background-color: #000000;
    text-align: center;
    padding: 20px; /* Optional padding for small screens */
}

.contact h2 {
    font-size: 2em;
    color: #0ee2fe;
    text-shadow: 0 0 5px #0ee2fe;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2em;
    color: #f7fafc;
    margin-bottom: 40px;
}

.contact-container {
    width: 100%;
    max-width: 600px;
}

.contact-container form {
    display: grid;
    gap: 20px;
    width: 100%;
}

.contact-container input,
.contact-container textarea,
.contact-container button {
    background: transparent;
    border: 2px solid #a0aec0;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1em;
    color: #f7fafc;
}

.contact-container input::placeholder,
.contact-container textarea::placeholder {
    color: #ffffff;
}

.contact-container input:focus,
.contact-container textarea:focus {
    outline: none;
    border-color: #0ee2fe;
}

.contact-container textarea {
    resize: none;
    height: 150px;
}

.contact-container button {
    padding: 5px;
    border: 1px solid #0ee2fe;
    border-radius: 5px;
    font-size: 1em;
    width: 50%;
    margin: 30px auto 0;
    background-color: #0ee2fe;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s linear;
}

.contact-container button:hover {
    transform: scale(1.1);
    color: #0ee2fe;
    border: 2px solid #0ee2fe;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #077b32;
}

/* Social Links */

.contact .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact .social-links a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
}

